 <div class="absolute bottom-0 w-full">
        <footer class="footer bg-gray-50 shadow relative pt-1 
        pb-5 border-t border-key">
            <div class="container mx-auto xl:px-10">

                <div class="sm:flex sm:mt-8">
                    <div class="mt-8 sm:mt-0 sm:w-full flex flex-col md:flex-row justify-between">
                        <div class="flex justify-center items-center">
                            <img class="block w-48 h-auto object-cover"
                                src="https://res.cloudinary.com/horizon-web-online-auction/image/upload/v1641873047/horizon/logo/logo_fzzxyw.svg" alt="Sunset in the mountains">
                        </div>
                        <div class="flex flex-col items-center text-cyan-900">
                            <span
                                class=" text-md uppercase mb-2 font-bold text-center">CONTACT</span>
                            <ul class=" text-md">
                                <li class="mb-2">
                                    <p class="font-bold text-key">HCMUS HORIZON Group</p>
                                    <span class="font-bold">Email: </span>
                                    <a href="https://mail.google.com/mail/u/0/#inbox"
                                       target="_blank"
                                       class="hover:text-key">assist@horizon.vn</a>
                                    <div></div>
                                    <span class="font-bold">Mobile: </span>
                                    <a href="#" class="hover:text-key">(+84)93 344 2607</a>
                                </li>
                            </ul>
                        </div>
                        <div class="flex flex-col items-center">
                            <span
                                class="text-cyan-900 text-md uppercase mb-2 font-bold text-center">SHARE
                                US ON</span>
                            <div class="flex justify-between mt-3 w-48 text-cyan-900">
                                <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                                <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                                <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>