 <div class="bottom-0 w-screen absolute">
        <footer class="footer bg-gray-50 relative pt-1 border-b-2 border border-black">
            <div class="container mx-auto xl:px-40">

                <div class="sm:flex sm:mt-8">
                    <div class="mt-8 sm:mt-0 sm:w-full flex flex-col md:flex-row justify-between">
                        <div class="flex justify-center items-center">
                            <img class="block w-48 h-auto object-cover"
                                src="https://www.udemy.com/staticx/udemy/images/v7/logo-udemy.svg">
                        </div>
                        <div class="flex flex-col items-center">
                            <span
                                class="text-black text-md uppercase mb-2 font-bold text-center">CONTACT</span>
                            <ul class="text-black text-md">
                                <li class="mb-2">
                                    <p>University of Science, Ho Chi Minh city,</p>
                                    <p>Viet Nam</p>
                                    <a href="#">Email: @gmail.com</a>
                                </li>
                            </ul>
                        </div>
                        <div class="flex flex-col items-center">
                            <span
                                class="text-black text-md uppercase mb-2 font-bold text-center">SHARE
                                US ON</span>
                            <div class="flex justify-between mt-3 w-48">
                                <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                                <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                                <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>