<div class="min-h-screen h-100">

    <div class="container mx-auto flex justify-center pt-16">
        <div class="w-96  p-8 border border-cyan-700 shadow-2xl ">
            <div class="text-green-500 font-semibold">
                Account has been verified!
            </div>
            <div style="text-align:justify" class="text-sm font-light text-left">
                We hope you enjoy the shopping. Let's get back to login!
            </div>
            <a href="/login">
                <button class="bg-cyan-700 w-full mt-2 shadow-md py-2 px-4 hover:bg-cyan-800 font-medium transition duration-500 text-white">
                        BACK TO LOGIN
                </button>
            </a>
        </div>
    </div>
</div>

