{{#section 'js'}}
    <script>
        document.body.appendChild(document.createElement('script')).src='https://unpkg.com/sweetalert/dist/sweetalert.min.js';
        $('#formLogin').on('submit', function (event) {
            event.preventDefault();
            const pass = document.getElementById('txtPassword').value;
            const email = document.getElementById('txtEmail').value;
            if(email.length<1){
                swal("Please enter your email!");
                return;
            }
            if (!/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(email)) {
                swal("Please enter valid email!");
                return;
            }
            if(pass.length<1){
                swal("Please enter your password!");
                return;
            }
            // Ajax
            $('#formLogin').off('submit').submit();
        });
        $('#txtFullName').select();
    </script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{{/section}}
<div class="min-h-screen h-100">
<form id="formLogin" method="post">
    <div class="container mx-auto flex justify-center pt-16">
        <div class="w-96  p-8 border border-cyan-700 shadow-2xl ">
            {{#if error}}
                <p class="text-red-600 text-center mb-4 "><strong>{{error}}</strong></p>
            {{/if}}
            <input
                    class="flex-1 appearance-none border border-cyan-700 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none"
                    id="txtEmail"
                    placeholder="Email"
                    name="email"/>
            <input
                    class="flex-1 appearance-none border border-cyan-700 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none mt-4"
                    type="password" id="txtPassword" placeholder="Password" name="password">

            <a class="inline-flex text-xs text-gray-500 sm:text-sm dark:text-gray-100 hover:text-gray-700 dark:hover:text-white mt-2"
               href="/forget-password">Forgot password?</a>
            <div class="g-recaptcha" data-sitekey="6LcQIwseAAAAAFiZ0ji7QkYS2OOTzoC3_A8RxDT3"></div>
<!--            <div class="g-recaptcha" data-sitekey="6LcO4QoeAAAAAJm0ZJqLnY_LBD9vyge-7YJ-Be2B"></div>-->
            <button
                    class="bg-cyan-700 w-full mt-2 shadow-md py-2 px-4 hover:bg-cyan-800 font-medium transition duration-500 text-white"
                    type="submit">LOGIN
            </button>

            <div class="flex flex-row my-2">
                <div class="h-3 w-full border-b border-black">

                </div>
                <div class="mx-2"> OR</div>
                <div class="h-3 w-full border-b border-black"></div>
            </div>


            <div class="">
                <a type="button" href="/auth/google"
                        class="py-2 px-4 flex justify-center items-center  bg-red-600 hover:bg-red-700 focus:ring-red-500 focus:ring-offset-red-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  ">

                    <i class="fa fa-google mr-2" aria-hidden="true"></i>
                    </svg>
                    Google
                </a>
            </div>

        </div>
    </div>
</form>
</div>

