<div class="container mx-auto xl:px-10">
    <div class="flex justify-between gap-4">
        {{> card/card}}
        {{> card/card}}
        {{> card/card}}
        {{> card/card}}
    </div>

    <div class="flex justify-between gap-4 mt-4">
        {{> card/card}}
        {{> card/card}}
        {{> card/card}}
        {{> card/card}}
    </div>

    <div class="flex justify-between gap-4 mt-4">
        {{> card/card}}
        {{> card/card}}
        {{> card/card}}
        {{> card/card}}
    </div>
</div>