<div class="container mx-auto xl:px-40">
    <img class="shadow-2xl" src="https://img-c.udemycdn.com/notices/web_banner/slide_1_image_udlite/8eae5f6d-5e06-470c-b7d1-8b88488b8dc5.jpg" alt="" class="h-80 object-cover">
</div>