<div class="container mx-auto xl:px-40">
    <div class="grid grid-flow-col space-x-8 mt-8">
        {{> card/card}}
        {{> card/card}}
        {{> card/card}}
    </div>

    <div class="grid grid-flow-col space-x-8 mt-8">
        {{> card/card}}
        {{> card/card}}
        {{> card/card}}
    </div>

    <div class="grid grid-flow-col space-x-8 mt-8">
        {{> card/card}}
        {{> card/card}}
        {{> card/card}}
    </div>
</div>