{{#section 'js'}}
    <script>
        const test = function () {
            document.querySelector(".testing").innerText = 1234;
            console.log(0);
        };
        setInterval(test, 1000);
    </script>
{{/section}}

<div class="container mx-auto xl:px-10">
    <div class="text-2xl font-semibold my-4 text-cyan-700">Ending soon</div>
    <div class="mt-4 multiple-items">
        {{#each this.products}}
            {{> card/card}}
        {{/each}}
    </div>

    <div class="text-2xl font-semibold my-4 text-cyan-700">Best bids</div>
    <div class="mt-4 multiple-items">
        {{#each this.products_1}}
            {{> card/card}}
        {{/each}}
    </div>

    <div class="text-2xl font-semibold my-4 text-cyan-700">Bids with the highest prices</div>
    <div class="mt-4 multiple-items slick-carousel-1">
        {{#each this.products_2}}
            {{> card/card}}
        {{/each}}
    </div>
</div>