{{#section 'js'}}
    <script>
        $(".addItemWish").click(function (e) {
            const id = $(this).data('id');
            $('#txtProIDAdd').val(id);
            $('#formAddWishList').submit();
        })

        $(".delItemWish").click(function (e) {
            const id = $(this).data('id');
            $('#txtProIDDel').val(id);
            $('#formDelWishList').submit();
        })
    </script>
{{/section}}

<form class="hidden" id="formAddWishList" action = "/account/wishlist/add" method = "post">
    <input x-show ="false" name = "ProID" id="txtProIDAdd">
</form>

<form class="hidden" id="formDelWishList" action = "/account/wishlist/del" method = "post">
    <input x-show ="false" name = "ProID" id="txtProIDDel">
</form>


<div class="container mx-auto xl:px-10">
    <div class="text-2xl font-semibold my-4 text-cyan-700">Ending soon</div>
    <div class="mt-4 multiple-items">
        {{#each this.products}}
            {{> card/card}}
        {{/each}}
    </div>

    <div class="text-2xl font-semibold my-4 text-cyan-700">Best bids</div>
    <div class="mt-4 multiple-items">
        {{#each this.products_1}}
            {{> card/card}}
        {{/each}}
    </div>

    <div class="text-2xl font-semibold my-4 text-cyan-700">Bids with the highest prices</div>
    <div class="mt-4 multiple-items slick-carousel-1">
        {{#each this.products_2}}
            {{> card/card}}
        {{/each}}
    </div>
</div>