<div class="w-full  max-w-4xl mx-auto bg-white shadow-lg rounded-sm border border-gray-200 mt-8">
    <div class="p-3">
        <div class="overflow-x-auto">
            <table class="table-auto w-full">
                <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
                    <tr>
                        <th class="p-2 whitespace-nowrap">
                            <div class="font-semibold text-left">Name</div>
                        </th>
                        <th class="p-2 whitespace-nowrap">
                            <div class="font-semibold text-left">Email</div>
                        </th>
                        <th class="p-2 whitespace-nowrap">
                            <div class="font-semibold text-left">Role</div>
                        </th>

                        <th class="p-2 whitespace-nowrap">
                            <div class="font-semibold text-left">Day register</div>
                        </th>
                        <th class="p-2 whitespace-nowrap">
                            <div class="font-semibold text-center">Edit</div>
                        </th>
                    </tr>
                </thead>
                <tbody class="text-sm divide-y divide-gray-100">
                    <tr>
                        <td class="p-2 whitespace-nowrap">
                            <div class="font-medium text-gray-800">Alex Shatov</div>
                        </td>
                        <td class="p-2 whitespace-nowrap">
                            <div class="text-left">alexshatov@gmail.com</div>
                        </td>
                        <td class="p-2 whitespace-nowrap">
                            <div class="text-left">Seller</div>
                        </td>
                        <td class="p-2 whitespace-nowrap">
                            <div class="text-left">07/12/2021</div>
                        </td>
                        <td class="p-2 whitespace-nowrap flex justify-center space-x-4">
                            <button class="px-4 py-2 bg-blue-600">Edit</button>
                            <button class="px-4 py-2 bg-red-700">DELETE</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="p-2 whitespace-nowrap">
                            <div class="font-medium text-gray-800">Philip Harbach</div>
                        </td>
                        <td class="p-2 whitespace-nowrap">
                            <div class="text-left">philip.h@gmail.com</div>
                        </td>
                        <td class="p-2 whitespace-nowrap">
                            <div class="text-left">Seller</div>
                        </td>
                        <td class="p-2 whitespace-nowrap">
                            <div class="text-left">07/12/2021</div>
                        </td>
                        <td class="p-2 whitespace-nowrap flex justify-center space-x-4">
                            <button class="px-4 py-2 bg-blue-600">Edit</button>
                            <button class="px-4 py-2 bg-red-700">DELETE</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="p-2 whitespace-nowrap">
                            <div class="font-medium text-gray-800">Mirko Fisuk</div>
                        </td>
                        <td class="p-2 whitespace-nowrap">
                            <div class="text-left">mirkofisuk@gmail.com</div>
                        </td>
                        <td class="p-2 whitespace-nowrap">
                            <div class="text-left">Seller</div>
                        </td>
                        <td class="p-2 whitespace-nowrap">
                            <div class="text-left">07/12/2021</div>
                        </td>
                        <td class="p-2 whitespace-nowrap flex justify-center space-x-4">
                            <button class="px-4 py-2 bg-blue-600">Edit</button>
                            <button class="px-4 py-2 bg-red-700">DELETE</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="p-2 whitespace-nowrap">
                            <div class="font-medium text-gray-800">Olga Semklo</div>
                        </td>
                        <td class="p-2 whitespace-nowrap">
                            <div class="text-left">olga.s@cool.design</div>
                        </td>
                        <td class="p-2 whitespace-nowrap">
                            <div class="text-left">Seller</div>
                        </td>
                        <td class="p-2 whitespace-nowrap">
                            <div class="text-left">07/12/2021</div>
                        </td>
                        <td class="p-2 whitespace-nowrap flex justify-center space-x-4">
                            <button class="px-4 py-2 bg-blue-600">Edit</button>
                            <button class="px-4 py-2 bg-red-700">DELETE</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="p-2 whitespace-nowrap">
                            <div class="font-medium text-gray-800">Burak Long</div>
                        </td>
                        <td class="p-2 whitespace-nowrap">
                            <div class="text-left">longburak@gmail.com</div>
                        </td>
                        <td class="p-2 whitespace-nowrap">
                            <div class="text-left">Seller</div>
                        </td>
                        <td class="p-2 whitespace-nowrap">
                            <div class="text-left">07/12/2021</div>
                        </td>
                        <td class="p-2 whitespace-nowrap flex justify-center space-x-4">
                            <button class="px-4 py-2 bg-blue-600">Edit</button>
                            <button class="px-4 py-2 bg-red-700">DELETE</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
