<div class="w-full  max-w-4xl mx-auto mt-8">
    <div class="flex justify-between">
        <div class="bg-white flex items-center pl-4 pr-2 border border-gray-200 shadow-lg py-2">
            <input type="search" class="w-64 px-1 h-auto focus:outline-none " placeholder="Search">
            <i class="fa fa-search px-2 cursor-pointer" aria-hidden="true"></i>
        </div>
        <div x-data="{ showModal : false }">
            <div @click="showModal = !showModal"
                    class="cursor-pointer font-semibold text-md  px-4 py-1  border border-cyan-700 ml-2 bg-white hover:bg-gray-300"><i class="fa fa-plus" aria-hidden="true"></i> ADD</div>
            <div x-show="showModal"
                 class="fixed flex items-center justify-center overflow-auto z-50 bg-black bg-opacity-40 left-0 right-0 top-0 bottom-0">
                <div x-show="showModal"
                     class="bg-white shadow-2xl p-6 pb-4  w-auto mx-10 border border-cyan-700 rounded"
                     @click.away="showModal = false"
                     x-transition:enter="transition ease-out duration-300"
                     x-transition:enter-start="opacity-0 transform scale-90"
                     x-transition:enter-end="opacity-100 transform scale-100"
                     x-transition:leave="transition ease-in duration-300"
                     x-transition:leave-start="opacity-100 transform scale-100"
                     x-transition:leave-end="opacity-0 transform scale-90">
                    <div class="flex justify-between font-normal text-base space-x-8">
                        <div>Name</div>
                        <input class="border border-cyan-700">
                    </div>
                    <div class="flex justify-between font-normal text-base mt-2">
                        <div>Category parent</div>
                        <select class="border border-cyan-700 py-1 w-16 md:w-20">
                            <option>a </option>
                            <option>b</option>
                        </select>
                    </div>
                    <div class=" flex justify-end mt-4 space-x-4">
                        <button @click="showModal = !showModal"
                                class="font-semibold text-md  px-6 py-2  border border-cyan-700">Save</button>
                        <div @click="showModal = !showModal"
                                class="cursor-pointer font-semibold text-md  px-6 py-2 text-white  bg-red-700">Cancel</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-3 bg-white shadow-lg rounded-sm border border-gray-200 mt-4">
        <div class="overflow-x-auto">
            <table class="table-auto w-full">
                <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
                <tr>
                        <th class="p-2 whitespace-nowrap">
                            <div class="font-semibold text-left">ID</div>
                        </th>
                        <th class="p-2 whitespace-nowrap">
                            <div class="font-semibold text-left">Name</div>
                        </th>
                        <th class="p-2 whitespace-nowrap">
                            <div class="font-semibold text-left">Big Category</div>
                        </th>
                        <th class="p-2 whitespace-nowrap">
                            <div class="font-semibold text-left">Product count</div>
                        </th>
                        <th class="p-2 whitespace-nowrap">
                            <div class="font-semibold text-center">Edit</div>
                        </th>
                    </tr>
                </thead>
                <tbody class="text-sm divide-y divide-gray-100">
                {{#each this.category}}
                    <tr>
                        <td class="p-2 whitespace-nowrap">
                            <div class="font-medium text-gray-800">{{CatID}}</div>
                        </td>
                        <td class="p-2 whitespace-nowrap">
                            <div class="text-left">{{CatName}}</div>
                        </td>
                        <td class="p-2 whitespace-nowrap">
                            <div class="text-left">{{BigCatName}}</div>
                        </td>
                        <td class="p-2 whitespace-nowrap">
                            <div class="text-left">{{ProCount}}</div>
                        </td>
                        <td class="p-2 whitespace-nowrap flex justify-center">
                            <div x-data="{ showModal : false }">
                                <div @click="showModal = !showModal"
                                     class="cursor-pointer font-semibold text-md  px-4 py-1  border border-cyan-700 ml-2 hover:bg-gray-300"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</div>
                                <div x-show="showModal"
                                     class="fixed flex items-center justify-center overflow-auto z-50 bg-black bg-opacity-40 left-0 right-0 top-0 bottom-0">
                                    <div x-show="showModal"
                                         class="bg-white shadow-2xl p-6 pb-4  w-auto mx-10 border border-cyan-700 rounded"
                                         @click.away="showModal = false"
                                         x-transition:enter="transition ease-out duration-300"
                                         x-transition:enter-start="opacity-0 transform scale-90"
                                         x-transition:enter-end="opacity-100 transform scale-100"
                                         x-transition:leave="transition ease-in duration-300"
                                         x-transition:leave-start="opacity-100 transform scale-100"
                                         x-transition:leave-end="opacity-0 transform scale-90">
                                        <div class="flex justify-between font-normal text-base space-x-8">
                                            <div>Name</div>
                                            <input class="border border-cyan-700">
                                        </div>
                                        <div class="flex justify-between font-normal text-base mt-2">
                                            <div>Category parent</div>
                                            <select class="border border-cyan-700 py-1 w-16 md:w-20">
                                                <option>a </option>
                                                <option>b</option>
                                            </select>
                                        </div>
                                        <div class=" flex justify-end mt-4 space-x-4">
                                            <button @click="showModal = !showModal"
                                                    class="font-semibold text-md  px-6 py-2  border border-cyan-700">Save</button>
                                            <div @click="showModal = !showModal"
                                                 class="cursor-pointer font-semibold text-md  px-6 py-2 text-white  bg-red-700">Cancel</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div x-data="{ showModal : false }">
                                <div @click="showModal = !showModal"
                                     class="cursor-pointer font-semibold text-md  px-4 py-1  border border-cyan-700 ml-2 bg-red-700 text-white hover:bg-red-900">DELETE</div>
                                <div x-show="showModal"
                                     class="fixed flex items-center justify-center overflow-auto z-50 bg-black bg-opacity-40 left-0 right-0 top-0 bottom-0">
                                    <div x-show="showModal"
                                         class="bg-white shadow-2xl p-6 pb-4  w-auto mx-10 border border-cyan-700 rounded"
                                         @click.away="showModal = false"
                                         x-transition:enter="transition ease-out duration-300"
                                         x-transition:enter-start="opacity-0 transform scale-90"
                                         x-transition:enter-end="opacity-100 transform scale-100"
                                         x-transition:leave="transition ease-in duration-300"
                                         x-transition:leave-start="opacity-100 transform scale-100"
                                         x-transition:leave-end="opacity-0 transform scale-90">
                                        <div>Are you sure?</div>
                                        <div class=" flex justify-end mt-4 space-x-4">
                                            <button
                                                    class="font-semibold text-md  px-6 py-2  border border-cyan-700 text-white  bg-red-700">
                                                DELETE
                                            </button>
                                            <div @click="showModal = !showModal"
                                                 class=" cursor-pointer font-semibold text-md  px-6 py-2 border border-cyan-700">Cancel</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>