<div class="py-12 overflow-auto">
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
            <div class="p-6 bg-white border-b border-gray-200">
                <form method="POST" action="action.php">
                    <div class="mb-4">
                        <label class="text-xl text-cyan-700">Parent Category <span class="text-red-500">*</span></label></br>
                        <select class="form-select block mt-1 w-full p-2 border border-gray-500" name="parentCategory" id="parentCategory" onChange="update()">
                            <option value="Empty"></option>
                            <option value="Accessories">Accessories</option>
                            <option value="Electronics">Electronics</option>
                            <option value="Fashion">Fashion</option>
                        </select>
                    </div>
                    <div class="mb-4">
                        <label class="text-xl text-cyan-700">Child Category <span class="text-red-500">*</span></label></br>
                        <select class="form-select block mt-1 w-full p-2 border border-gray-500" name="childCategory" id="childCategory" >
                        </select>
                    </div>
                    <div class="mb-4">
                        <form>
                            <label class="text-xl text-cyan-700">Product <span class="text-red-500">*</span></label></br>
                            <select class="form-select block mt-1 w-full p-2 border border-gray-500" id="product">
                                <option>Option 1</option>
                                <option>Option 2</option>
                            </select>
                        </form>
                    </div>
                    <div class="mb-8">
                        <label class="text-xl text-cyan-700">Content <span class="text-red-500">*</span></label></br>
                        <textarea name="content" class="border-2 border-gray-500 w-full">

                            </textarea>
                    </div>

                    <div class="flex justify-center">
                        <button class="px-6 py-1 bg-white text-black border border-cyan-700 hover:bg-gray-300 shadow">Submit</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script>
    function update() {
        const child_category = {
            Empty: [],
            Accessories: ['Ring', 'Watch'],
            Electronics: ['Laptop', 'Mobile', 'Smart Watch'],
            Fashion: ['Clothing', 'Shoes']
        };
        const select = document.getElementById('parentCategory');
        const option = select.options[select.selectedIndex].value;

        $("#childCategory").empty();

        let selectOption = "";
        const list_option = child_category[option];
        for (let i = 0; i < list_option.length; i++) {
            selectOption = "";
            selectOption += "<option value='" + list_option[i] + "'>" + list_option[i] + "</option>";
            $('#childCategory').append(selectOption);
        }
    }
    update();
</script>

<script>
    $(document).ready(function(){

        $("select#childCategory").change(function(){
            let selectedChildCategory = $(this).children("option:selected").val();
            let selectedParentCategory = $("select#parentCategory").children("option:selected").val();

        });
    });
</script>

<script>
    CKEDITOR.replace('content');
</script>