<div class="py-12 overflow-auto">
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
            <div class="p-6 bg-white border-b border-gray-200">
                <form method="POST" action="action.php">
                    <div class="mb-4">
                        <label class="text-xl text-gray-600">Title <span class="text-red-500">*</span></label></br>
                        <input type="text" class="border-2 border-gray-300 p-2 w-full" name="title" id="title" value=""
                            required>
                    </div>

                    <div class="mb-4">
                        <label class="text-xl text-gray-600">Gia khoi diem</label></br>
                        <input type="text" class="border-2 border-gray-300 p-2 w-full" name="description"
                            id="description" placeholder="(Optional)">
                    </div>

                    <div class="mb-4">
                        <label class="text-xl text-gray-600">Buoc gia</label></br>
                        <input type="text" class="border-2 border-gray-300 p-2 w-full" name="description"
                            id="description" placeholder="(Optional)">
                    </div>

                    <div class="mb-4">
                        <label class="text-xl text-gray-600">Gia mua ngay</label></br>
                        <input type="text" class="border-2 border-gray-300 p-2 w-full" name="description"
                            id="description" placeholder="(Optional)">
                    </div>

                    <div class="mb-8">
                        <label class="text-xl text-gray-600">Content <span class="text-red-500">*</span></label></br>
                        <textarea name="content" class="border-2 border-gray-500 w-full">

                            </textarea>
                    </div>

                    <div class="flex justify-center">
                        <button class="px-4 py-1 bg-black hover:bg-gray-800 text-white border border-gray-200 shadow">Submit</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>

<script>
    CKEDITOR.replace('content');
</script>