<div class="w-full  max-w-4xl mx-auto mt-8 overflow-auto">
    <div class="flex justify-start">
        <div class="bg-white flex items-center pl-4 pr-2 border border-gray-200 shadow-lg py-2">
            <input type="search" class="w-64 px-1 h-auto focus:outline-none " placeholder="Search">
            <i class="fa fa-search px-2 cursor-pointer" aria-hidden="true"></i>
        </div>
    </div>
    <div class="p-3 bg-white shadow-lg rounded-sm border border-gray-200 mt-4">
        <div class="overflow-x-auto">
            <table class="table-auto w-full">
                <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
                <tr>
                    <th class="p-2 whitespace-nowrap">
                        <div class="font-semibold text-left">Product's name</div>
                    </th>
                    <th class="p-2 whitespace-nowrap">
                        <div class="font-semibold text-left">HIGHEST BIDDER</div>
                    </th>
                    <th class="p-2 whitespace-nowrap">
                        <div class="font-semibold text-left">Time</div>
                    </th>
                    <th class="p-2 whitespace-nowrap">
                        <div class="font-semibold text-left">Price</div>
                    </th>
                    <th class="p-2 whitespace-nowrap">
                        <div class="font-semibold text-left">current Price</div>
                    </th>
                    <th class="p-2 whitespace-nowrap">
                        <div class="font-semibold text-center">view</div>
                    </th>
                </tr>
                </thead>
                <tbody class="text-sm divide-y divide-gray-100">
                <tr>
                    <td class="p-2 whitespace-nowrap">
                        <div class="font-medium text-gray-800">Alex Shatov</div>
                    </td>
                    <td class="p-2 whitespace-nowrap">
                        <div class="text-left">alexshatov@gmail.com</div>
                    </td>
                    <td class="p-2 whitespace-nowrap">
                        <div class="text-left">07/12/2021</div>
                    </td>
                    <td class="p-2 whitespace-nowrap">
                        <div class="text-left">30.000.000</div>
                    </td>
                    <td class="p-2 whitespace-nowrap">
                        <div class="text-left">20.000.000</div>
                    </td>
<!--                    <td class="p-2 whitespace-nowrap flex justify-center space-x-4">-->
<!--                        <button class="px-6 py-1  hover:bg-gray-300  border border-cyan-700 shadow">View</button>-->
<!--                    </td>-->
                    <td class="p-2 whitespace-nowrap flex justify-center space-x-4">
                        <div x-data="{ showModal : false }">
                            <div @click="showModal = !showModal"
                                    class=" cursor-pointer px-6 py-1  hover:bg-gray-300  border border-cyan-700 shadow">View</div>
                            <div x-show="showModal"
                                 class="fixed text-gray-500 flex items-center justify-center overflow-auto z-50 bg-black bg-opacity-40 left-0 right-0 top-0 bottom-0">
                                <div x-show="showModal"
                                     class="bg-white shadow-2xl p-6 pb-4 w-auto mx-10 border border-cyan-700 rounded"
                                     @click.away="showModal = false"
                                     x-transition:enter="transition ease-out duration-300"
                                     x-transition:enter-start="opacity-0 transform scale-90"
                                     x-transition:enter-end="opacity-100 transform scale-100"
                                     x-transition:leave="transition ease-in duration-300"
                                     x-transition:leave-start="opacity-100 transform scale-100"
                                     x-transition:leave-end="opacity-0 transform scale-90">
                                    <table class="table-auto  w-full text-base">
                                        <thead>
                                        <tr>
                                            <th class="">Name</th>
                                            <th class="">Price</th>
                                            <th class="">Block</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class=" text-cyan-700">
                                            <td class="pr-5">THAI TRAN HONG PHUC</td>
                                            <td class="text-center"><i class="fa fa-arrow-up animate-bounce"
                                                                       aria-hidden="true"></i> 30.000.000</td>
                                            <td>
                                                <button class="ml-3 px-4 py-1 bg-red-500 text-white hover:bg-red-700  border border-cyan-700 shadow">block</button>
                                            </td>
                                        </tr>
                                        <tr class="">
                                            <td>PHAM MINH THUY</td>
                                            <td class="text-center">102</td>
                                            <td>
                                                <button class="ml-3 px-4 py-1 bg-red-500 text-white hover:bg-red-700  border border-cyan-700 shadow">block</button>
                                            </td>
                                        </tr>
                                        <tr class="">
                                            <td>HOANG NHU THANH</td>
                                            <td class="text-center">59</td>
                                            <td>
                                                <button class="ml-3 px-4 py-1 bg-red-500 text-white hover:bg-red-700  border border-cyan-700 shadow">block</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="flex justify-center mt-4">
                                        <button @click="showModal = !showModal"
                                                class="font-semibold text-md  px-6 py-2  border border-cyan-700">OK</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
