<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <div>
        <div className="container mx-auto xl:px-40">
            <div className="relative flex items-center justify-between h-16">
                <div>
                    Cagtegory
                </div>
                <div className="absolute inset-y-0 left-0 flex items-center sm:hidden">

                </div>
                

            </div>
        </div>

    </div>
    {{{body}}}

</body>

</html>