<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Horizon</title>
    <link rel = "icon" href =
            "https://i.imgur.com/WXpbdEa.png"
          type = "image/x-icon">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"
        integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
        integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        body {
            font-family: 'Montserrat', sans-serif;
        }
    </style>
</head>

<body class="relative min-h-screen bg-white font-Roboto">


    <div x-data="{ sidebarOpen: false }" class="flex h-screen bg-gray-200">
        <div :class="sidebarOpen ? 'block' : 'hidden'" @click="sidebarOpen = false"
            class="fixed z-20 inset-0 bg-black opacity-50 transition-opacity lg:hidden"></div>

        <div :class="sidebarOpen ? 'translate-x-0 ease-out' : '-translate-x-full ease-in'"
            class="fixed z-30 inset-y-0 left-0 w-64 transition duration-300 transform bg-white overflow-y-auto lg:translate-x-0 lg:static lg:inset-0">
            <div class="flex items-center justify-left h-16">
                <div class="flex items-center">
                    <a href="/"><img class="block h-8 pl-5 w-auto" src="/logo.svg">
                </div>
            </div>

            <nav class="text-black">
                <a class="flex items-center mt-4 py-2 px-6  hover:bg-gray-700 hover:bg-opacity-25 hover:text-gray-100
                {{#if pActive}}
                       bg-gray-300 bg-opacity-25 text-cyan-700
                {{/if}}" href="/seller">
                    <i class="fa fa-list-alt" aria-hidden="true"></i>
                    <span class="mx-3">Post product</span>
                </a>

                <div x-data="{ open: false }" class="w-full">
                    <div x-data="{ open: false }" class="">
                        <button @click=" open = !open "
                                class="w-full flex items-center justify-between mt-4 py-2 px-6 hover:bg-gray-700 hover:bg-opacity-25 hover:text-gray-100 {{#if vActive}}bg-gray-300 bg-opacity-25 text-cyan-700 {{/if}}">
                            <div>
                                <i class="fa fa-product-hunt" aria-hidden="true"></i>
                                <span class="mx-3">Product</span>
                            </div>
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </button>
                        <div x-show="open" class="flex-col divide-y bg-white text-cyan-700" @click.away="open = false"
                            x-transition:enter="transition duration-1000"
                            x-transition:enter-start="opacity-0 transform -translate-y-12"
                            x-transition:enter-end="opacity-100 transform translate-y-0"
                            x-transition:leave="transition duration-1000"
                            x-transition:leave-start="opacity-100 transform translate-y-0"
                            x-transition:leave-end="opacity-0 transform -translate-y-12">
                            <a href="/seller/products"><div class="bg-gray-200 hover:bg-cyan-900 py-2 px-4 hover:text-white">On sale</div></a>
                            <a href="/seller/selling"><div class="bg-gray-200 hover:bg-cyan-900 py-2 px-4 hover:text-white">Manage biddings</div></a>
                            <a href="/seller/sold"><div class="bg-gray-200 hover:bg-cyan-900 py-2 px-4 hover:text-white">Sold</div></a>
                            
                        </div>
                    </div>


            </nav>
        </div>
        <div class="flex-1 flex flex-col overflow-hidden">
            <header class="flex justify-between items-center py-4 px-6 bg-white h-16 shadow-lg">
                <div class="flex items-center">
                    <button @click="sidebarOpen = true"
                            class="text-gray-500 border border-cyan-700 hover:bg-gray-500 lg:hidden p-3 py-2 rounded">
                        <i class="fa fa-bars fa-lg text-gray-600" aria-hidden="true"></i>
                    </button>
                </div>

                <div class="block lg:hidden"><a href="/"><img src="/logo.svg" alt="" class="p-2 h-16"></a></div>

            </header>
            {{{body}}}
        </div>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js" integrity="sha512-eP8DK17a+MOcKHXC5Yrqzd8WI5WKh6F1TIk5QZ/8Lbv+8ssblcz7oGC8ZmQ/ZSAPa7ZmsCU4e/hcovqR8jfJqA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

{{{_sections.js}}}

</html>