<head>
    <meta charset="UTF-8">
    <style>
        #summary {
            background-color: #f6f6f6;
            border-color: #6B7280;
        }
    </style>
</head>

<body>
<div class="flex flex-wrap items-center space-x-4 p-1 mb-5 pr-4">
    <div class="font-semibold mb-2 text-lg text-gray-700 tracking-wide
                h-10 flex items-center px-4">
        My cart
    </div>
    <div class="flex flex-wrap w-full">
        <div class="w-3/5 divide-y pr-4">
            <div class="flex py-3">
                <h3 class="font-semibold text-gray-600 text-xs
                h-5 flex item-center uppercase w-3/4">Product Details</h3>
                <h3 class="font-semibold h-5 text-center
            text-gray-600 text-xs uppercase w-1/4">Price</h3>
            </div>
            <div class="items-center flex py-5 pl-2">
                <div class="flex w-3/4"> <!-- product -->
                    <div class="w-20">
                        <img class="h-24" src="https://drive.google.com/uc?id=18KkAVkGFvaGNqPy2DIvTqmUH_nk39o3z" alt="">
                    </div>
                    <div class="flex flex-col justify-between ml-4 flex-grow">
                        <span class="font-bold text-sm">Iphone 6S</span>
                        <span class="text-key text-xs">Apple</span>
                        <a href="#" class="font-semibold hover:text-key text-gray-500 text-xs">Remove</a>
                    </div>
                </div>
                <span class="text-center w-1/4 font-semibold text-sm">$400.00</span>
            </div>

            <div class="items-center flex py-5 pl-2">
                <div class="flex w-3/4"> <!-- product -->
                    <div class="w-20">
                        <img class="h-24" src="https://drive.google.com/uc?id=18KkAVkGFvaGNqPy2DIvTqmUH_nk39o3z" alt="">
                    </div>
                    <div class="flex flex-col justify-between ml-4 flex-grow">
                        <span class="font-bold text-sm">Iphone 6S</span>
                        <span class="text-key text-xs">Apple</span>
                        <a href="#" class="font-semibold hover:text-key text-gray-500 text-xs">Remove</a>
                    </div>
                </div>
                <span class="text-center w-1/4 font-semibold text-sm">$400.00</span>
            </div>

            <div class="items-center flex py-5 pl-2">
                <div class="flex w-3/4"> <!-- product -->
                    <div class="w-20">
                        <img class="h-24" src="https://drive.google.com/uc?id=18KkAVkGFvaGNqPy2DIvTqmUH_nk39o3z" alt="">
                    </div>
                    <div class="flex flex-col justify-between ml-4 flex-grow">
                        <span class="font-bold text-sm">Iphone 6S</span>
                        <span class="text-key text-xs">Apple</span>
                        <a href="#" class="font-semibold hover:text-key text-gray-500 text-xs">Remove</a>
                    </div>
                </div>
                <span class="text-center w-1/4 font-semibold text-sm">$400.00</span>
            </div>
        </div>

        <div class="w-2/5">
            <div class="border border-key bg-gray-100 px-8 py-3">
                <h1 class="font-semibold mb-3 text-lg text-gray-700 tracking-wide
            h-5 flex item-center">Order Summary</h1>
                <div class="flex justify-between pt-5 mb-5 border-t">
                    <span class="font-semibold text-sm uppercase">Items (3)</span>
                    <span class="font-semibold text-sm">$1200</span>
                </div>
                <div class="flex justify-between pt-5 mb-5 border-t">
                    <span class="text-sm">Standard shipping</span>
                    <span class="text-sm">10$</span>
                </div>
                <div class="border-t">
                    <div class="flex font-semibold justify-between py-6 text-sm uppercase">
                        <span>Total cost</span>
                        <span>$1210</span>
                    </div>
                    <button class="bg-key font-semibold hover:bg-cyan-800 py-3 text-sm text-white uppercase w-full">
                        Checkout
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
