<div class="flex-wrap items-center space-x-4 p-1 mb-5
            w-full divide-y-2 divide-gray-200">
    <div class="font-semibold mb-2 text-lg text-gray-700 tracking-wide
        h-10 flex items-center px-4">
        My cart
    </div>
    <div>
        <div class="mt-4 multiple-items">
            {{> card/card}}
            {{> card/card}}
            {{> card/card}}
        </div>

        <div class="mt-4 multiple-items">
            {{> card/card}}
            {{> card/card}}
            {{> card/card}}
        </div>

        <div class="mt-4 multiple-items">
            {{> card/card}}
            {{> card/card}}
            {{> card/card}}
        </div>

        <div class="flex justify-end mt-8">
            <div class="h-12 w-12 mr-1 flex justify-center items-center rounded  cursor-pointer">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </div>
            <div class="flex h-12 font-medium rounded ">
                <div
                        class="w-12 md:flex justify-center items-center hidden  cursor-pointer leading-5 transition duration-150 ease-in  rounded  ">
                    1
                </div>
                <div
                        class="w-12 md:flex justify-center items-center hidden  cursor-pointer leading-5 transition duration-150 ease-in  rounded bg-teal-600 text-cyan-700 ">
                    2
                </div>
                <div
                        class="w-12 md:flex justify-center items-center hidden  cursor-pointer leading-5 transition duration-150 ease-in  rounded  ">
                    3
                </div>
                <div
                        class="w-12 md:flex justify-center items-center hidden  cursor-pointer leading-5 transition duration-150 ease-in  rounded  ">
                    ...
                </div>
                <div
                        class="w-12 md:flex justify-center items-center hidden  cursor-pointer leading-5 transition duration-150 ease-in  rounded  ">
                    13
                </div>
                <div
                        class="w-12 md:flex justify-center items-center hidden  cursor-pointer leading-5 transition duration-150 ease-in  rounded  ">
                    14
                </div>
                <div
                        class="w-12 md:flex justify-center items-center hidden  cursor-pointer leading-5 transition duration-150 ease-in  rounded  ">
                    15
                </div>
                <div
                        class="w-12 h-12 md:hidden flex justify-center items-center cursor-pointer leading-5 transition duration-150 ease-in rounded bg-teal-600 text-white">
                    2
                </div>
            </div>
            <div class="h-12 w-12 ml-1 flex justify-center items-center rounded  cursor-pointer">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>