<div class="flex flex-wrap items-center space-x-4 p-1 mb-5 divide-y-2 divide-gray-200">
    <div class="w-full font-semibold mb-2 text-lg text-gray-700 tracking-wide
                h-10 flex items-center px-4 ">
        Change Password
    </div>

    <form class="w-full">
        <div class="py-3 w-full divide-y-2 divide-gray-200">
            <div>
                <div class="flex items-center mb-6 text-sm">
                    <div class="w-1/4">
                        <label class="block text-black font-medium text-left ml-3 mb-1 md:mb-0" for="inline-password">
                            Old password
                        </label>
                    </div>

                    <div class="relative">
                        <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded
                        w-wrap py-2 px-4 text-gray-700 leading-tight
                        focus:outline-none focus:bg-white focus:border-black" id="inline-password" type="password">
                    </div>
                </div>

                <div class="flex items-center mb-6 text-sm">
                    <div class="w-1/4">
                        <label class="block text-black font-medium text-left ml-3 mb-1 md:mb-0" for="inline-password">
                            New password
                        </label>
                    </div>

                    <div class="relative">
                        <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded
                        w-wrap py-2 px-4 text-gray-700 leading-tight
                        focus:outline-none focus:bg-white focus:border-black" id="inline-password" type="password">
                    </div>
                </div>

                <div class="flex items-center mb-6 text-sm">
                    <div class="w-1/4">
                        <label class="block text-black font-medium text-left ml-3 mb-1" for="inline-password">
                            Re-enter new password
                        </label>
                    </div>

                    <div class="relative">
                        <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded
                        w-wrap py-2 px-4 text-gray-700 leading-tight
                        focus:outline-none focus:bg-white focus:border-black" id="inline-password" type="password">
                    </div>
                </div>
                <div class = "mb-3 text-sm ml-3 mb-1">
                    <a href="#" class="no-underline hover:underline text-blue-700">
                        Forgot password?
                    </a>

                </div>
            </div>

            <div class="w-full pt-5">
                <button class="flex ml-3 items-center bg-white hover:bg-black text-black
                        cursor-not-allowed
                        font-semibold text-sm hover:text-white py-1 px-2 border border-black hover:border-transparent rounded">
                    Save change
                </button>
            </div>
        </div>
    </form>
</div>