{{#section 'js'}}
    <script>
        $('#txtNewPassword, #txtConfirmPassword, #txtOldPassword').on('keyup', function () {
            if ($('#txtOldPassword').val().length < 1 ||
                    $('#txtNewPassword').val().length < 1 ||
                    $('#txtConfirmPassword').val().length < 1) {
                $('#saveBtn').prop("disabled", true);
                $('#saveBtn').addClass("disable");
            } else {
                $('#saveBtn').prop("disabled", false);
                $('#saveBtn').removeClass("disable");
            }
        });

        $('#txtNewPassword').on('keyup', function () {
            if ($('#txtNewPassword').val().length < 6) {
                $('#saveBtn').addClass("disable");
                $('#message_t').html('Password must be more than 6 characters.').css('color', 'red');
            } else
                $('#saveBtn').removeClass("disable");
                $('#message_t').html('OK').css('color', 'green');
        });

        $('#txtNewPassword, #txtConfirmPassword').on('keyup', function () {
            if ($('#txtNewPassword').val().length > 0) {
                if ($('#txtNewPassword').val() == $('#txtConfirmPassword').val()) {
                    $('#message').html('OK').css('color', 'green');
                    $('#saveBtn').removeClass("disable");
                } else {
                    $('#saveBtn').addClass("disable");
                    $('#message').html('Not Matching').css('color', 'red');
                }
            }
        });

        $('#changePassForm').on('submit', function (event) {
            event.preventDefault();
            const username = document.getElementById('txtUsername').value;
            if (username.length < 1) {
                alert('Username must be filled in!');
                return;
            }
            $.getJSON(`/account/username-available?user=${username}`, function (data) {
                if (data === false) {
                    alert('Username is already in use. Please choose another one!');
                } else {
                    $('#editUsernameForm').off('submit').submit();
                }
            });
        });

        $('#txtUsername').select();
    </script>
{{/section}}

<div class="flex flex-wrap items-center space-x-4 p-1 mb-5 divide-y-2 divide-gray-200">
    <div class="w-full font-semibold mb-2 text-lg text-gray-700 tracking-wide
                h-10 flex items-center px-4 ">
        Change password
    </div>

    <form id="changePassForm" class="w-full">
        <div class="py-3 w-full divide-y-2 divide-gray-200">
            <div>
                <div class="flex items-center mb-6 text-sm">
                    <div class="w-1/4">
                        <label class="block text-black font-medium text-left ml-3 mb-1 md:mb-0" for="inline-password">
                            Old password
                        </label>
                    </div>

                    <div class="relative">
                        <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded
                        w-wrap py-2 px-4 text-gray-700 leading-tight
                        focus:outline-none focus:bg-white focus:border-key "
                               id="txtOldPassword" type="password"
                               name="Password"
                               autofocus>
                    </div>
                </div>

                <div class="flex items-center mb-6 text-sm">
                    <div class="w-1/4">
                        <label class="block text-black font-medium text-left ml-3 mb-1 md:mb-0" for="inline-password">
                            New password
                        </label>
                    </div>

                    <div class="relative">
                        <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded
                        w-wrap py-2 px-4 text-gray-700 leading-tight
                        focus:outline-none focus:bg-white focus:border-key black"
                               id="txtNewPassword" type="password">
                        <span class="ml-2 font-medium text-bold" id='message_t'></span>
                    </div>
                </div>

                <div class="flex items-center mb-6 text-sm">
                    <div class="w-1/4">
                        <label class="block text-black font-medium text-left ml-3 mb-1" for="inline-password">
                            Re-enter new password
                        </label>
                    </div>

                    <div class="relative">
                        <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded
                        w-wrap py-2 px-4 text-gray-700 leading-tight
                        focus:outline-none focus:bg-white
                        focus:border-key black"
                               id="txtConfirmPassword" type="password">
                        <span class="ml-2 font-medium text-bold" id='message'></span>
                    </div>
                </div>
                <div class="mb-3 text-sm ml-3 mb-1">
                    <a href="#" class="no-underline hover:underline text-key">
                        Forgot password?
                    </a>

                </div>
            </div>

            <div class="w-full pt-5">
                <button class="flex ml-3 items-center bg-white hover:bg-key text-key
                        font-semibold text-sm hover:text-white py-1 px-2
                        border border-key hover:border-transparent rounded"
                        id="saveBtn">
                    Save change
                </button>
            </div>
        </div>
    </form>
</div>