<div class="flex flex-wrap items-center space-x-4 p-1 mb-5 divide-y-2 divide-gray-200">
        <div class="w-full font-semibold mb-2 text-lg text-gray-700 tracking-wide
                h-10 flex items-center px-4 ">
            Change Password
        </div>
    <div class="py-3 w-full">
        <form class="w-full max-w-lg divide-y-2 divide-gray-200">
            <div>
            <div class="flex items-center mb-6 text-sm">
                <div class="w-1/4">
                    <label class="block text-black font-medium text-left ml-3 mb-1 md:mb-0" for="inline-password">
                        Old password
                    </label>
                </div>

                <div class="relative">
                    <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded
                    w-wrap py-2 px-4 text-gray-700 leading-tight
                    focus:outline-none focus:bg-white focus:border-black" id="inline-password" type="password">
                </div>
            </div>

            <div class="flex items-center mb-6 text-sm">
                <div class="w-1/4">
                    <label class="block text-black font-medium text-left ml-3 mb-1 md:mb-0" for="inline-password">
                        New password
                    </label>
                </div>

                <div class="relative">
                    <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded
                    w-wrap py-2 px-4 text-gray-700 leading-tight
                    focus:outline-none focus:bg-white focus:border-black" id="inline-password" type="password">
                </div>
            </div>

            <div class="flex items-center mb-6 text-sm">
                <div class="w-1/4">
                    <label class="block text-black font-medium text-left ml-3 mb-1 md:mb-0" for="inline-password">
                        Re-enter new password
                    </label>
                </div>

                <div class="relative">
                    <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded
                    w-wrap py-2 px-4 text-gray-700 leading-tight
                    focus:outline-none focus:bg-white focus:border-black" id="inline-password" type="password">
                </div>
            </div>
            </div>
            <div class="w-full py-4 ml-3 flex items-center justify-left">
                    <button class="shadow text-black bg-black border-black
                    hover:bg-blue-light hover:text-white focus:shadow-outline
                    focus:outline-none font-medium py-1 px-3 rounded-sm" type="button">
                        Save change
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>