<div class="flex flex-wrap items-center space-x-4 p-1 mb-5">
    <table class="w-full divide-y divide-gray-200">
        <thead>
        <div class="font-semibold mb-2 text-lg text-gray-700 tracking-wide
                h-10 flex items-center px-4">
            General settings
        </div>
        </thead>

        <tbody class="bg-white divide-y divide-gray-200">
        <tr>
            <td class="py-4 whitespace-nowrap">
                <div class="items-center">
                    <div class="ml-2">
                        <div class="text-sm font-medium text-gray-900">
                            New name
                        </div>
                    </div>
                </div>
            </td>

            <form>
            <td class="py-4 whitespace-nowrap">
                <div class="flex items-center">
                    <div class="ml-2">
                        <input class="py-2 text-sm font-medium text-gray-500 px-2 rounded border-2 border-key
                        focus:outline-none" autofocus>
                    </div>
                </div>
            </td>

            <td>
            <div class="flex items-center justify-end mr-2">
                <button type="submit" formaction="/bidder/general/edit-name"
                        class="flex items-center bg-key hover:bg-cyan-800 text-white
                        font-semibold text-sm py-1 px-2 border border-key hover:border-key rounded">
                        Save
                </button>
            </div>
            </td>
            </form>
        </tbody>
    </table>
</div>