<div class="flex-wrap items-center space-x-4 p-1 mb-5">
    <div class="font-semibold mb-2 text-lg text-gray-700 tracking-wide
        h-10 flex items-center px-4 border-b">
        My Wishlist
    </div>
    <div>
        <div class="mt-4 multiple-items">
            {{> card/card}}
            {{> card/card}}
            {{> card/card}}
        </div>
    </div>
</div>