<div class="bg-gray-50 animate-none shadow relative border-b border-cyan-700">
    <div class="container mx-auto xl:px-10">
        <div class="relative flex items-center justify-between h-16">
            <div class="flex flex-1 items-center justify-center md:items-stretch md:justify-start">
                <a href="/"><img class="block h-8 w-auto ml-2"
                        src="logo.svg">
                </a>
                <div class="group z-10">
                    <button class=" w-auto rounded-sm ml-4 p-2 px-3 hover:text-cyan-700 font-light">Category</button>
                    <ul
                        class="bg-white p-3 ml-2  border absolute invisible group-hover:visible mt-4 duration-100 group-hover:mt-2 transition-all w-64">
                        <li class=" p-1 hover:text-cyan-700 cursor-pointer flex justify-between font-light">
                            Phone
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </li>
                        <li class="p-1 hover:text-cyan-700 cursor-pointer flex justify-between font-light">
                            Laptop
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="flex flex-1 items-center justify-end text-cyan-700">
                <div class="rounded-full bg-white flex items-center pl-4 pr-2 border border-cyan-700">
                    <input type="search" class="w-64 p-1 h-auto focus:outline-none " placeholder="Search">
                    <i class="fa fa-search px-2 cursor-pointer" aria-hidden="true"></i>
                </div>

                {{#if user}}
                <button class="h-8 w-8 rounded-full border-2 bg-white"></button>
                {{else}}

                <a href="/login" class="hiden md:block">
                    <button
                        class=" w-auto rounded-sm ml-4 p-2 px-3 hover:bg-gray-100 font-normal duration-500  border-solid border border-cyan-700 text-cyan-700">Login</button>
                </a>

                <a href="/register" class="hiden md:block">
                    <button
                        class=" w-auto rounded-sm ml-4 p-2 px-3 bg-cyan-700 hover:bg-cyan-900 text-white font-normal duration-500">Register</button>
                </a>

                {{/if}}

            </div>
        </div>
    </div>
</div>